/* to be removed by customize bootstrap
=======================================*/
.jumbotron {
	background-color: white;
	margin-bottom: 0;
	color: #424242;
	padding-top: 60px;
	padding-bottom: 60px;
}
/* global
=======================================*/
body {
	padding-top: 70px;
}
html, body {
	height: 100%
}
.btn-default {
	border-color: #424242;
	border-radius: 0;
	text-align: center;
	margin: 40px;
}
.section-header {
	margin-bottom: 40px;
}

.thumbnail {
	background: none;
	border: none;
}
.thumbnail > img {

}
/* navbar
=======================================*/
.logo {
	font-family: 'Lobster', cursive;
	font-size: xx-large;
	color: #424242 !important;
}

.navbar-default {
	background-color: #fff;
	border: none;
	padding: 10px 0;
}

.navbar-nav>li>a {
	font-size: larger;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #424242;
}


/* jumbotron
=======================================*/

.container {
	max-width: 1200px;

}

.turquoise {
	background-color: #7DD5C9;
}
.darkblue {
	background-color: #4c5364;
	color: #b7bbc9;
}


/* greeting */
.profile-photo {
	max-width: 300px;
	width: 50%;
	margin: 60px auto;

}

/* footer
=======================================*/
footer {
	background-color: #000;
	color: #888c99; 
	padding: 6px;
	padding-left: 100px;
}

footer > p {
	margin-bottom: 0;
}



