/* to be removed by customize bootstrap
=======================================*/
.jumbotron {
	background-color: white;
	margin-bottom: 0;
	color: #424242;
}
/* global
=======================================*/
body {
	padding-top: 50px;
}
html, body {
	height: 100%
}
.btn-default {
	border-color: #424242;
	border-radius: 0;
	text-align: center;
	margin: 40px;
}
.section-header {
	margin-bottom: 40px;
}

.thumbnail {
	background: none;
	border: none;
}
.thumbnail > img {

}
/* navbar
=======================================*/
.logo {
	width: 50px;
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/R-logo.png') no-repeat;
	background-size: 100%;
}

.navbar-default {
	background-color: #fff;
	border: none;
}

/* jumbotron
=======================================*/

.jumbotron .container {
	max-width: 900px;

}

.turquoise {
	background-color: #7DD5C9;
}
.darkblue {
	background-color: #4c5364;
	color: #b7bbc9;
}


/* greeting */
.profile-photo {
	max-width: 300px;
	width: 50%;
	margin: 60px auto;

}

/* footer
=======================================*/
footer {
	background-color: #000;
	color: #888c99; 
	padding: 6px;
	padding-left: 100px;
}

footer > p {
	margin-bottom: 0;
}



