
/* title */
.case-study .section-header {
	margin-bottom: 40px;
}

.case-study .container {
	max-width: 800px;
}
.case-study h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 32px;
	font-weight: 500;
	
}

.desc {
	max-width: 800px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	letter-spacing: 0.5px;
	padding: 0 2em;
}

.block {
	max-width: 800px;
	margin: auto;
	margin-top: 12px;
	padding: 0 2em;	
}

.case-study .quote {
	background-color: #f9f9f9;
	font-size: 18px;
	padding: 40px 2em;
}

.case-study a,
.case-study a:visited {
	color: #7DCAB8;
}
.case-study a:hover {
	text-decoration: underline;
}

h4 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 20px 0;
}

img {
	margin: 20px auto;
}

p {
	margin: 16px 0 16px;
	color: #544;
}
li {
	color: #544;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin-top: 2em;
	margin-bottom: 2em;
	line-height: 1.4;
}

h3:before {
	content: "";
	display: block;
	width: 60px;
	border-top: solid 3px;
	margin-bottom: 10px;
}

.case-study-illustration .desc {
	margin-bottom: 0;
}
