
/* to be removed by customize bootstrap
=======================================*/

body {
	font-size: 16px;
	color: #354A5F;
	font-family: 'Raleway', sans-serif;
	line-height: 1.8;
}


a {
	color: #354A5F;
}

a:hover {
	color: #01DB8F;
	text-decoration: none;
}

#top-bar {
	background-color: #C9E9E6;
	height: 8px;
}
.theme {
	background-color: #C9E9E6;
}
.gray {
	background-color: #f0f0f0;
}
/* global components
=======================================*/

html, body {
	height: 100%;
}

.container {
	max-width: 1200px;
	padding-top: 40px;
	padding-bottom: 40px;


}

.CTA {
	display: block;
	margin: auto;
	border: 1px solid;
	padding: 20px;
	width: 300px;
	margin-top: 40px;
	margin-bottom: 40px;
}


/* sections
=======================================*/
.section-desc {
	max-width: 400px;
	margin: auto;
	margin-top: 40px;
}

.section-header {
	margin-top: 0;
	margin-bottom: 80px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 5px;

}
.row {
	margin: auto;
}
.testmonial {
	padding: 20px 2em 20px 2em;
}

.person {
	margin: 40px 0;
	padding-right: 5px;
}

.testmonial:after {
	content: "";
	display: block;
	width: 80%;
	border-bottom: 1px solid #f0f0f0;
	margin: auto;
}
.testmonial:last-child:after {
	border: none;
}

/* footer
=======================================*/
footer {
	background-color: #C9E9E6;
	padding: 10px 2em;
}

footer > p {
	margin-bottom: 0;
}
.social {
	font-size: 30px;
	color: #b7bbc9;
	vertical-align: text-bottom;
	margin: 3px;
	height: 30px;
}
