
/* top
=======================================*/
h1 {
	font-size: 32px;
	letter-spacing: 5px;
	font-weight: 600;
}
.lead {
	font-size: 16px;
	font-weight: 300;
	margin-top: 0;
}

#me {
	padding: 60px 0 20px 0;
}

/* Social
=======================================*/
.social a{
	display: inline-block;
	width: 32px;
	height: 32px;
	cursor:pointer;
    border:none;
     -webkit-transition: background 1s ease;
     -moz-transition: background 1s ease;
       -o-transition: background 1s ease;
      -ms-transition: background 1s ease;
          transition: background 1s ease;
}

.social .email {	
	background:url(../img/Email.png) no-repeat;
   
}
.social .linkedin {	
	background:url(../img/linkedin.png) no-repeat;
}
.social .dribbble {	
	background:url(../img/Dribbble.png) no-repeat;
}
.social .behance {	
	background:url(../img/Behance.png) no-repeat;
}
.social .email:hover {	
	background:url(../img/Email-hover.png) no-repeat;
   
}
.social .linkedin:hover {	
	background:url(../img/Linkedin-hover.png) no-repeat;
}
.social .dribbble:hover {	
	background:url(../img/Dribbble-hover.png) no-repeat;
}
.social .behance:hover {	
	background:url(../img/Behance-hover.png) no-repeat;
}
.social:before {
	content: "";
	display: block;
	border-top: 1px solid;
	width: 60px;
    margin: auto;
    margin-bottom: 20px;
}



/* thumbnail
=======================================*/
.preview {
	overflow: hidden;
	border-radius: 3px;
	margin: 14px 0;
	text-align: center;
	list-style: none;
	padding-left: 0;
	height: 300px;
	position: relative;
}

.preview img {
	height: 300px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.preview:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.preview:hover .image-overlay-content {
	opacity: 1;
}
.image-overlay-content {
  width: 100%;
  height: 100px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  margin-top: -50px;
  top: 50%;
  left: 0; 
  display: table; 
  transition: all 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.7);
}

.preview h2 {
  color: #f2f2f2;
  font-size: 1.8 em;
  font-weight: 300;
  margin-top: 100px;
  height: 100px;
  opacity: 1;
  display: table-cell; 
  vertical-align: middle;
  padding: 0 5px;
  
}
.proj-1 {
	background-color: #EAEAEA;
}
.proj-2 {
	background-color: #C9E9E6;
}
.proj-3 {
	background-color: #F6E6E6;
}
.proj-3 a,
.proj-5 a,
.proj-6 a{
	display: block;
	height: 300px;
	line-height: 300px;
}
.proj-4 {
	background-color: #4C4D4F;
	color: white;
}

.proj-5 {
	background-color: #E6EEF0;
}
.proj-6 {
	background-color: #FFF9F0;
}

/* about
=======================================*/
.self-intro {
	
	margin: auto;
}
.self-intro .body-text{
	
	margin: auto;
	margin-top: 20px;
}
.self-intro:before{
	content: "";
	display: block;
	border-top: 1px solid;
	width: 260px;

    margin-bottom: 20px;
}
.self-intro:after{
	content: "";
	display: block;
	border-bottom: 1px solid;
	width: 260px;
  
    margin-bottom: 20px;
}
.greeting {
	font-size: 21px;
	font-weight: 300;
	letter-spacing: 1px;
}
.profile-pic {
	max-height: 450px;
	border: 8px solid white;
	text-align: center;
	display: inline-block;
	margin: auto;
	margin-top: 10px;

}

.about .CTA {
	margin-left: 0;
}

.take-away {
	font-weight: 500;
}


